@import "variables";

.inspire-dark {
  background-color:  rgb(7, 7, 7)!important; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right , rgb(7, 7, 7), rgb(160, 159, 159))!important;
  // background-image: linear-gradient(336deg, rgba(7, 7, 7,1) 70%, rgba(160, 159, 159,1) 83%);
}
.inspire-light {
  background-color:  rgb(7, 7, 7)!important; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top left , rgb(27, 27, 27), rgb(221, 219, 219))!important;
  // background-image: linear-gradient(336deg, rgba(7, 7, 7,1) 70%, rgba(160, 159, 159,1) 83%);
}

.theme--light.v-sheet,
.theme--light.v-sheet {
background-color: transparent
}